# Unión y filtrado de datos

- Métodos de unión:

    - concat(): nos permite unir dataframes por filas y columnas especificando el eje. 
    axis=0 --> pone un dataframe encima del otro. Si tienen el mismo nombre nos pone los datos de esas columnas en la misma columna
    axis=1 --> un dataframe al lado de otro
        - ignore_index=True --> crea un nuevo índice consecutivo. Ojo con los índices

    - join(): al menos una de las columnas de unión tiene que ser un índice.
        - por defecto el how es left
        - si usamos on, la columna de unión tiene que ser del dataframe sobre el que estamos haciendo el join, en el otro utiliza siempre el índice

    - merge(): une dataframes por columnas.

        - por defecto hace inner

- Limpieza:

    - drop(): eliminamos filas o clolumnas en función del eje
        - columns= le podemos pasar una lista de columnas sin especificar el eje
        - inplace=True --> sobreescribe el dataframe. OJO: no igualamos a una variable 

    - rename(): nos permite renombrar columnas.

        - columns= diccionario con el nombre original y el nuevo como value
        - inplace=True --> necesario para sobreescribir el dataframe
    
    - .str(): nos permite usar métodos de strings (.lower(), .split(), ...)

        - .lower() --> tranformar en minúsculas
        - .split() --> dividimos el string por un patron dado. Nos devuelve una lista con los elementos separados
            - expand=True --> devuelve los elemntos en un dataframe con tantas columnas cómo número de elementos tenga la lista creada con el split
                - .get() --> podemos seleccionar las columnas que queramos después del expand
        - .replace() --> reemplazamos valores por otros
        
- Filtrado:

    - Sintaxis:
        ```python
        df[df[columna] operador valor]
        ```

        ```python
        df[df["col"] == 17]
        ```

        ```python
        df[máscara]
        ```

    - .isin(): podemos filtrar por una lista de valores 

        ```python
        df[col].isin([val1, val2])
        ```   

    - .between(): filtrar por intervalos

        ```python
        df[col].between(val_inicial, valor_final)
        ```

        - inclusive= podemos decidir qué partes del intervalo se incluyen: ['both', 'neither', 'left', 'right']

    - .conteins(): podemos filtrar los datos por un patrón

In [ ]:
df["col"].between

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [22]:
df1 = pd.DataFrame({"A" :[1,2,3], "B":[4,5,6]})
df2 = pd.DataFrame({"B" :[7,8,9], "C":[10,11,12]}, index=[0,1,3])

display(df1)
display(df2)

   A  B
0  1  4
1  2  5
2  3  6

   B   C
0  7  10
1  8  11
3  9  12

In [21]:
pd.concat([df1,df2], axis = 1)

     A    B    B     C
0  1.0  4.0  7.0  10.0
1  2.0  5.0  8.0  11.0
2  3.0  6.0  NaN   NaN
3  NaN  NaN  9.0  12.0

In [27]:
df1.join(df2, lsuffix="1", rsuffix="2")

   A  B1   B2     C
0  1   4  7.0  10.0
1  2   5  8.0  11.0
2  3   6  NaN   NaN

In [29]:
df1.join(df2, on="A", lsuffix="1", rsuffix="2")

   A  B1   B2     C
0  1   4  8.0  11.0
1  2   5  NaN   NaN
2  3   6  9.0  12.0

In [41]:
df3 = pd.DataFrame({"id" :[1,2,3], "A":[4,5,6]})
df4 = pd.DataFrame({"id" :[1,2,4], "B":[10,11,12]})

display(df3)
display(df4)

   id  A
0   1  4
1   2  5
2   3  6

   id   B
0   1  10
1   2  11
2   4  12

In [35]:
df3.merge(df4, on="id")

   id  A   B
0   1  4  10
1   2  5  11

In [36]:
df3

   id  A
0   1  4
1   2  5
2   3  6

In [57]:
df = pd.read_csv("files/rating-and-performance.csv", index_col=0)

df.head(2)

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08

In [58]:
df.drop(columns=["title_orig"], inplace=True)

In [59]:
df.head(1)

,title,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08

In [61]:
df.drop?

Signature:
df.drop(
    labels=None,
    axis: 'Axis' = 0,
    index=None,
    columns=None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'str' = 'raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the `user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    DataFrame without the removed index or column labels or
    None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      ~/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [62]:
df.head(2)

,title,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08

4. En la columna de merchant_info_subtitle, si nos fijamos hay algunas celdas donde tenemos entre paréntesis el número total de calificaciones para el comerciante (que es la misma información que la que tenemos en la columna "merchant_rating_count"). Eliminad de la columna "merchant_info_subtitle" la parte del string de los paréntesis. Guardar el resultado de vuestra limpieza en una columna que se llame igual, es decir, "merchant_info_subtitle".

In [69]:
df["merchant_info_subtitle2"] = df["merchant_info_subtitle"].str.replace("\(.*\)", "", regex=True)

df.head(2)

,title,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month,merchant_info_subtitle2
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08,
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08,83 % avis positifs

In [73]:
df["merchant_info_subtitle3"] = df["merchant_info_subtitle"].str.split("(", expand=True).get(0)

In [74]:
df[["merchant_info_subtitle","merchant_info_subtitle2","merchant_info_subtitle3"]]

,merchant_info_subtitle,merchant_info_subtitle2,merchant_info_subtitle3
index,,,
0,(568 notes),,
1,"83 % avis positifs (17,752 notes)",83 % avis positifs,83 % avis positifs
2,86 % avis positifs (295 notes),86 % avis positifs,86 % avis positifs
3,"(23,832 notes)",,
4,"85 % avis positifs (14,482 notes)",85 % avis positifs,85 % avis positifs
...,...,...,...
1568,"90 % avis positifs (5,316 notes)",90 % avis positifs,90 % avis positifs
1569,"(4,435 notes)",,
1570,86 % avis positifs (210 notes),86 % avis positifs,86 % avis positifs
1571,77 % avis positifs (31 notes),77 % avis positifs,77 % avis positifs
1572,"90 % avis positifs (7,023 notes)",90 % avis positifs,90 % avis positifs

In [63]:
df_ins = pd.read_csv("files/insight.csv")

df_ins.head(2)

,index,merchant.id,listed.products,total.units.sold,mean.units.sold.per.product,rating,merchant.ratings.count,mean.product.prices,mean.retail.prices,average.discount,mean.discount,mean.product.ratings.count,total.urgency.count,urgency.text.rate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0

In [67]:
df_ins.merge(df, left_on="merchant.id", right_on="merchant_id")[["merchant.id", "merchant_id"]]

                   merchant.id               merchant_id
0     5357bcf2bb72c5504882e889  5357bcf2bb72c5504882e889
1     5357bcf2bb72c5504882e889  5357bcf2bb72c5504882e889
2     5708773c3c02161b3f8c7900  5708773c3c02161b3f8c7900
3     5708773c3c02161b3f8c7900  5708773c3c02161b3f8c7900
4     5708773c3c02161b3f8c7900  5708773c3c02161b3f8c7900
...                        ...                       ...
1568  567bad8582c35f28103e5813  567bad8582c35f28103e5813
1569  5b24edf0d1c360301099e9c6  5b24edf0d1c360301099e9c6
1570  5d417e7070327a2743021677  5d417e7070327a2743021677
1571  5add589edb5f1f32114d07df  5add589edb5f1f32114d07df
1572  5d4b8931933fb13f8a1fe232  5d4b8931933fb13f8a1fe232

[1573 rows x 2 columns]